@model IEnumerable<Identity.Models.Request>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table>
    <thead>
        <tr>Id</tr>
        <tr>Name</tr>
        <tr>Department</tr>
    </thead>   
    <tbody>
        @foreach (var request in Model)
        {
        <tr>
            <td>@request.Id</td>
            <td>@request.RequestName</td>
            <td>@request.Department</td>
        </tr>
        }

    </tbody>

</table>
